@import '../../../../assets/sass/base/variables';
@import '../../../../assets/sass/base/mixins';

.projects {
  position: relative;
  padding: 7.5rem 0;
  background: radial-gradient(170.02% 100% at 50% 0%, #29293B 0%, #020007 100%);
  color: $white;

  & .container {
    text-align: center;
  }

  &__title {
    color: $white;
    font-weight: 300;
    line-height: 2.625rem;
    font-family: $font-raleway;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    margin: 0;
    padding-bottom: 2.5rem;
    text-align: left;

    @include media-up(xl) {
      letter-spacing: 0.6875rem;
    }
  }

  &__grid {
    display: grid;
    gap: 2.5rem;
    grid-template-columns: 1fr;
    justify-items: center;
    margin-bottom: 2.5rem;

    @include media-up(md) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include media-up(xl) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
